{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Site</h1>
    </header>
    <main>
        <section class="upload-section">
            <form action="{% url 'upload_image' %}" method="post" enctype="multipart/form-data" class="upload-form">
                {% csrf_token %}
                <input type="file" name="image" accept="image/*" class="file-input">
                <button type="submit" class="upload-button">Upload Image</button>
            </form>
            {% if category and style %}
            <p>Classified as: Category name: {{ category }}, Interior Style: {{ style }}</p>
            {% endif %}            
        </section>
    </main>
    <footer>
        <p>This website is only for educational purposes only.</p>
    </footer>
</body>
</html>
